.navbar {
  background-color: #262EC9;
  overflow: hidden;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


.navbar a:hover {
  background-color: #ddd;
  color: rgb(247, 247, 247);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.main-logo {
  background: white;
  border-radius: 50%;
  padding: 10px;
  width: 50px;
  height: 50px;
}

body, .main-page {
  background-color: white;
  margin: 0;
  padding-top: 60px;
  font-family: Arial, sans-serif;
}

.main-content {
  text-align: center;
  padding: 20px;
}

.main-content img {
  max-width: 100%;
}

.main-content h2 {
  margin: 20px 0;;
  color: #7AC943;
  animation: fadeInUp 1s ease-in-out;
}

.main-content p {
  color: #262EC9;
  animation: fadeInUp 2s ease-in-out;
}

.button {
  background-color: #262EC9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #1a1f70;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.4);
  color: #262EC9;
  padding: 10px;
  font-size: 1em;
  z-index: 1000;
}



.navbar .navbar-brand {
  padding: 0; /* Elimina el padding si es necesario para ajustar el logo */
}

.brand-logo {
  height: 40px; /* Ajusta al tamaño del círculo deseado */
  width: 40px;  /* Ajusta al tamaño del círculo deseado */
  border-radius: 50%; /* Hace que el logo sea circular */
  background-color: white; /* Fondo blanco para el círculo */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del círculo */
  padding: 5px; /* Ajusta la cantidad de fondo blanco alrededor de la imagen */
}

.kosmo-logo {
  animation: fadeInDown 1s ease-out;
  /* ... estilos existentes ... */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-text-logo {
  color: white; /* Color del texto */
  font-weight: bold; /* Ajusta el grosor del texto */
  padding-left: 10px; /* Ajusta la separación entre el logo y el texto */
}

.space-container {
  width: 90vw; /* Tamaño relativo al ancho de la vista */
  height: 90vw; /* Tamaño relativo al ancho de la vista */
  max-width: 1500px; /* Máximo tamaño para evitar que sea demasiado grande */
  max-height: 1500px; 
  border-radius: 50%;
  background-color: #1B1464;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  background-position: 0 0, 15px 15px;
  z-index: 3; /* Asegúrate de que este z-index sea menor que el de la Tierra */
  position: relative;
}

.earth {
  margin: 250px auto;
  width: 75%; /* Ajusta al tamaño deseado */
  z-index: 4; /* Asegúrate de que este z-index sea mayor que el del espacio */
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.ship { /* Ahora .moon es la nave espacial */
  width: 10vw; /* Tamaño relativo al ancho de la vista */
  max-width: 80px; /* Tamaño máximo */
  min-width: 30px; /* Tamaño mínimo */
  height: auto; /* Para mantener la proporción */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg); /* Ajusta la rotación si es necesario */
  animation: flyInRight 2s ease-out forwards;
}

@keyframes flyInRight {
  from {
    transform: translateX(50px) rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(-45deg);
    opacity: 1;
  }
}

.ship-orbit {
  position: absolute;
  width: 95%; /* Ajusta según sea necesario para la órbita */
  height: 95%; /* Ajusta según sea necesario para la órbita */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotateOrbit 10s linear infinite; /* Duración de la animación */
}

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.star {
  position: absolute;
  background-color: white;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}

.navbar .navbar-nav .nav-link:hover {
  color: #000000 !important; /* O el color que prefieras para el efecto hover */
}

.section-nosotros {
  text-align: center;
  padding: 40px;
  background-color: #ffffff;
  color: #262EC9;
}

.section-nosotros h2 {
  color: #7AC943;
}

.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
}

.about-item {
  min-width: 300px;
  margin-right: 20px;
  padding: 20px;
  background: #f4f4f4;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-video {
  max-width: 80%;
  border-radius: 10px;
  margin-top: 20px;
}

/* Asegúrate de que los estilos de testimonios y conclusión se ajusten al nuevo diseño */
