.navbar {
  display: flex;
  justify-content: space-between;
  align-items: right;
  background-color: #1B1464 ;
  overflow: hidden;
  width: 100%;
  font-family: 'IBM Plex Mono', monospace;
  top: 0;
  z-index: 1000;
}

.navbar-logo {
  display: flex;
  align-items: left;
}

.navbar-menu {
  display: flex;
  align-items: right;
}

.navbar-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-menu li {
  margin-left: 20px;
}

.navbar-menu a {
  display: block;
  color: white;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #1B1464;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-menu a:hover {
  background-color: #262EC9;
  color: white;
  border-radius: 20px;
  padding: 12px 14px;

}

.main-content {
  text-align: center;
  padding: 15px;
  margin-top: 70px; /* Add margin top to avoid overlap with the navbar */
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .navbar-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #1B1464;
    flex-direction: column;
    padding: 10px;
    z-index: 1001;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    opacity: 0;
    visibility: hidden;
  }

  .navbar-menu.show {
    opacity: 1;
    visibility: visible;
  }

  .navbar-menu ul {
    flex-direction: row;
    margin-top: 10px;
  }

  .navbar-menu li {
    margin: 0;
  }

  .navbar-menu a {
    padding: 10px 20px;
  }
}
/* Estilos para enlaces de navegación en estado hover */
.navbar a:hover {
  background-color: #262EC9; /* Color de fondo al pasar el cursor */
  color: white; /* Color de texto */
  border-radius: 20px; /* Bordes redondeados */
  padding: 12px 14px; /* Ajuste de padding para mantener el tamaño */
  transition: background-color 0.3s ease, color 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
}

body, .main-page {
  background-color: white;
  margin: 0;
  padding-top: 10px;
}


.main-content img {
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@700&display=swap');

.main-content h2 {
  margin: 20px 0;
  color: #7AC943;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 56px; /* Tamaño grande para pantallas más amplias */
  font-weight: bold;
  animation: fadeInUp 1s ease-in-out;
}

/* Media query para pantallas de tamaño máximo de 768px (tablets y teléfonos) */
@media (max-width: 768px) {
  .main-content h2 {
    font-size: 30px; /* Tamaño más pequeño para pantallas más pequeñas */
  }
}



@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

.main-content p {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-size: 22px; /* Tamaño de fuente grande para pantallas más amplias */
  font-style: italic;
  animation: fadeInUp 2s ease-in-out; /* Mantén la animación si es necesaria */
}

/* Media query para pantallas de tamaño máximo de 768px (tablets y teléfonos) */
@media (max-width: 768px) {
  .main-content p {
    font-size: 19px; /* Tamaño más pequeño para pantallas más pequeñas */
  }
}



.button {
  background-color: #262EC9;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 20px 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
  background-color: #1a1f70;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.brand-logo {
  height: 40px; /* Ajusta al tamaño del círculo deseado */
  width: 40px;  /* Ajusta al tamaño del círculo deseado */
  border-radius: 50%; /* Hace que el logo sea circular */
  background-color: white; /* Fondo blanco para el círculo */
  object-fit: contain; /* Asegura que la imagen se ajuste dentro del círculo */
  padding: 5px; /* Ajusta la cantidad de fondo blanco alrededor de la imagen */
}


.kosmo-logo {
  animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.navbar-text-logo {
  color: white; /* Color del texto */
  font-weight: bold; /* Ajusta el grosor del texto */
  padding-left: 10px; /* Ajusta la separación entre el logo y el texto */
}

.navbar-toggler {
  border-color: #fff; /* Cambia al color que desees para el borde */
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.space-container {
  width: 65vw; /* Tamaño relativo al ancho de la vista */
  height: 65vw; /* Tamaño relativo al ancho de la vista */
  max-width: 1500px; /* Máximo tamaño para evitar que sea demasiado grande */
  max-height: 1500px; 
  border-radius: 50%;
  background-color: #1B1464;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: auto;
  background-position: 0 0, 15px 15px;
  z-index: 3; /* Asegúrate de que este z-index sea menor que el de la Tierra */
  position: relative;
}

.earth {
  margin: 240px auto;
  width: 88%; /* Ajusta al tamaño deseado */
  z-index: 4; /* Asegúrate de que este z-index sea mayor que el del espacio */
  animation: zoomIn 1s ease-out;
}

@keyframes zoomIn {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(0.8);
    opacity: 1;
  }
}

.ship { /* Ahora .moon es la nave espacial */
  width: 8vw; /* Tamaño relativo al ancho de la vista */
  max-width: 110px; /* Tamaño máximo */
  min-width: 30px; /* Tamaño mínimo */
  height: auto; /* Para mantener la proporción */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg); /* Ajusta la rotación si es necesario */
  animation: flyInRight 2s ease-out forwards;
}

@keyframes flyInRight {
  from {
    transform: translateX(50px) rotate(-45deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(-45deg);
    opacity: 1;
  }
}

.ship-orbit {
  position: absolute;
  width: 95%; /* Ajusta según sea necesario para la órbita */
  height: 95%; /* Ajusta según sea necesario para la órbita */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  animation: rotateOrbit 10s linear infinite; /* Duración de la animación */
}

@keyframes rotateOrbit {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.stars-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.star {
  position: absolute;
  background-color: white;
}

.navbar .navbar-nav .nav-link {
  color: white !important;
}


.horizontal-scroll {
  display: flex;
  overflow-x: auto;
  padding: 20px 0;
}



.about-video {
  max-width: 80%;
  border-radius: 10px;
  margin-top: 20px;
}


.login-container {
  position: relative;
  height: 100vh; /* Ajusta al viewport o al contenido */
  width: 100vw;
  overflow: hidden;
  background-color: #1b1360;
  z-index: -1;
}

.login-video {
  position: absolute;
  /* Cambiar top y left a 50% y usar transform para centrar perfectamente el video */
  top: 50%;
  left: 50%;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  transform: translate(-55%, -50%);
  object-fit: cover;
  z-index: -1;
  }
  
  @media (max-width: 768px) {
    .login-video {
      width: 150%; /* Asegúrate de que el video ocupe todo el ancho del contenedor */
      height: auto; /* Mantiene la relación de aspecto del video */
      left: 50%;
      top: 50%;
      /* Escala el video a un tamaño más pequeño, por ejemplo, al 50% de su tamaño original */
      transform: translate(-50%, -50%) scale(0.7);
    }
  }
  
  
  
  

.landing-animation {
  position: absolute;
  left: 50%;
  /* Posiciona el texto más abajo en la pantalla, por ejemplo, al 70% del alto de la pantalla. */
  top: 85%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5em; /* Ajusta el tamaño del texto según sea necesario. */
  z-index: 10;
  animation: landingAnimation 2s ease-in-out infinite;
}

/* Media queries para ajustar el video y el texto para dispositivos móviles. */
@media (max-width: 768px) {
  .landing-animation {
    font-size: 1em; /* Reduce el tamaño del texto en dispositivos móviles. */
    top: 90%; /* Posiciona el texto aún más abajo en dispositivos móviles. */
  }
}

@keyframes landingAnimation {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -60%) scale(1.2);
    opacity: 0.5;
  }
}

/* Importación de fuentes y estilo base */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap');

/* Estilos generales para la sección 'Nosotros' */
.section-nosotros {
  background-color: #fff;
  padding: 4rem 1rem;
  text-align: center;
}

.nosotros-title {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-size: 2rem;
  font-style: bold;
  font-weight: 700;
  margin-top: 1rem;
  margin-bottom: 4rem;
  animation: fadeInDown 1s both;
}

/* Estilos para el carrusel */
.carousel {
  margin-bottom: 2rem;
}

.carousel-item {
  min-height: 600px; /* Ajuste la altura según sea necesario */
  background-color: #ececec; /* Color de fondo por si las imágenes o videos no cubren el área */
  border-radius: 25px;
}

.carousel-item video {
  width: 100%;
  min-height: 600px; /* Ajuste la altura del video para evitar que se corte */
  object-fit: cover; /* Cubre el área de forma responsiva */
  border-radius: 25px;
}

.carousel-strategy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 25px;
}

.strategy-title {
  font-size: 1.8rem;
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  margin-bottom: 2rem;
}

.strategy-point {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  width: 80%;
  min-height: 120px; /* Asegura que haya suficiente espacio para el texto */
  text-align: left;
}

.strategy-point h5 {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  margin-bottom: 0.5rem;
}

.strategy-point p {
  color: #6c757d;
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-style: light;
}

/* Animaciones */
@keyframes fadeInDown {
  from { opacity: 0; transform: translate3d(0, -100%, 0); }
  to { opacity: 1; transform: translateZ(0); }
  }
  
  @keyframes fadeInUp {
  from { opacity: 0; transform: translate3d(0, 100%, 0); }
  to { opacity: 1; transform: translateZ(0); }
  }
  
  @keyframes slideInUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
  }
  
  /* Estilos para las tarjetas de los planes */
  .planes-section h3 {
  font-size: 2rem;
  text-align: center;
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-weight: 700;
  margin-bottom: 2rem;
  }
  
  .planes-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 1rem;
  }

  .planes-cards:hover {
    transform: scale(1.02); /* Aumenta el tamaño en un 5% */
    transition: transform 0.6s ease;
  }
  
  .card {
  width: calc(33.333% - 1rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
  overflow: hidden;
  animation: fadeInUp 1s both;
  transition: transform 0.3s ease;
  }
  
  .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  .card-img-top {
    width: 100%; /* mantiene el ancho al 100% del contenedor de la tarjeta */
    height: 550px; /* reduce la altura de la imagen */
    object-fit: fill; /* asegura que la imagen cubra todo el espacio asignado sin distorsionarse */
  }
  
  .card-body {
  padding: 1rem;
  background-color: #f8f9fa;
  }
  
  .card-title {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-size: 1.25rem;
  font-weight: 700;
  font-style: bold;
  margin-bottom: 0.5rem;
  }
  
  .card-text {
  color: #6c757d;
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-style: light;
  font-size: 1rem;
  }
  
  /* Responsive design para adaptar las tarjetas en dispositivos móviles */
  @media (max-width: 768px) {
  .nosotros-title {
  font-size: 1.5rem;
  }
  
  .carousel-item {
  min-height: 300px; /* Altura automática para carrusel en dispositivos móviles */
  }
  
  .carousel-strategy-container,
  .strategy-point {
  width: 90%; /* Los contenedores deben ser un poco más anchos en dispositivos móviles */
  }
  
  .strategy-point {
  min-height: auto; /* Altura automática para contenedores de estrategia en dispositivos móviles */
  }
  
  .card {
  width: 100%;
  }
  }


.navbar-menu {
  justify-content: flex-end;
}

.brand-logo {
  height: 80%; /* Reducción del tamaño del logo */
}

.earth {
  transform: scale(0.8); /* Reducción del tamaño del planeta */
}

.ship {
  transform: scale(0.8); /* Reducción del tamaño de la nave */
}

.about-video, .section-nosotros, .planes-section {
    max-width: 1200px; /* o el ancho máximo que prefieras */
    margin-left: auto;
    margin-right: auto;
    padding: 20px; /* Ajusta el relleno según sea necesario */
}

.about-video video {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto del video */
}

.brand-logo {
    display: inline-block;
    border-radius: 50%; /* o el valor que prefieras */
    overflow: hidden;
    width: 40px; /* Ajusta el ancho según sea necesario */
    height: 40px; /* Ajusta la altura según sea necesario */
}

.brand-logo img {
    width: 100%;
    height: auto;
}
.navbar-nav {
  margin-left: auto; /* Asegura que los elementos de la lista se muevan a la derecha */
}

.navbar-brand {
  flex-grow: 1; /* Permite que el logotipo ocupe el espacio necesario a la izquierda */
  justify-content: flex-start;
}

.navbar-nav .nav-item {
  margin-left: 8px; /* Aumenta el espacio entre cada elemento de la lista */
  margin-right: 10px;
}

.kosmo-logo {
  padding-top: 60px; /* Aumentar el espacio superior */
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.4);
  color: #262EC9;
  width: 100%;
  text-align: center;
  z-index: 1000;
}

.main-content {
  padding-bottom: 0px; /* Ajustar según la altura del footer */
}


/* Estilos para la sección de personalización de Kosmo */
.customization-section {
  text-align: center;
  padding: 20px;
  background-color: #ffffff; /* Fondo claro para la sección, ajusta esto según tu diseño */
  position: relative;
  z-index: 2;
}

.customization-section h2 {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-style: italic;
  margin-bottom: 1rem; /* Espacio debajo del título */
  font-size: 2rem; /* Tamaño del título */
  font-weight: 700;
}

.kosmo-customization-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 500px;
  gap: 120px; /* Espacio entre los elementos de la sección */
  margin-top: 2.5rem; /* Espacio por encima de la sección de personalización */
  transition: transform 0.3s ease;
}

.kosmo-customization-section button {
  border: none;
  background: none;
  font-size: 4rem; /* Tamaño de los botones */
  cursor: pointer;
  color: #1B1464;
  transition: transform 0.3s ease;
}

.kosmo-customization-section button:hover {
  /* Escala los botones ligeramente cuando el mouse pasa por encima */
  transform: scale(1.1);
}

.kosmo-bot {
  height: 320px; /* Ajusta esto según el tamaño que deseas para las imágenes */
  width: auto;
  transform: translateY(20%);
  z-index: 4;
}

.kosmo-outfit {
  height: 330px; /* Ajusta esto según el tamaño que deseas para las imágenes */
  width: auto;
  position: absolute;
  left: 17%;
  bottom: 0%;
  transform: translateX(0%);
  z-index: 5;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

@keyframes scaleUpAndDown {
  0% {
    transform: scale(1); /* Tamaño original */
  }
  50% {
    transform: scale(1.2); /* Escala el elemento a un 20% más grande */
  }
  100% {
    transform: scale(1); /* Vuelve al tamaño original */
  }
}

.kosmo-outfit.animate-change {
  animation: scaleUpAndDown 0.5s ease-in-out forwards;
}


.kosmo-outfit:hover {
  transform: scale(1.05); /* Aumenta el tamaño en un 5% */
  transition: transform 0.3s ease;
}



/* Agregamos una clase para cuando un outfit sea cambiado */
.outfit-changing {
  /* Suavizar la transición de cambiar el outfit */
  animation: fadeOutIn 0.5s ease;
}

.customization-description {
  color: #262EC9; /* Color azul */
  font-family: 'IBM Plex Mono', monospace; /* Fuente IBM Plex Mono */
  font-style: italic;
  margin-top: 2rem; /* Espacio por encima de la descripción */
  font-size: 1.2rem; /* Tamaño de la descripción */
}

.service-notice {
  display: block; /* Asegura que la nota de servicio esté en su propia línea */
  color: #7AC943;
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic; /* Estilo de fuente para la nota de servicio */
  font-size: 0.85rem; /* Tamaño de la nota de servicio */
  margin-top: 1.5rem;
  margin-bottom: 3rem;
}

.side-outfit {
  position: static; /* Restablece la posición para los outfits laterales */
  opacity: 0.6; /* Hace que los outfits laterales sean menos prominentes */
}

.center-outfit {
  position: relative;
}

/* Keyframes para la animación de desvanecimiento */
@keyframes fadeOutIn {
  0% { opacity: 0; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}

/* Ajustes para dispositivos móviles */
@media (max-width: 768px) {
  .kosmo-customization-section {
    height: 30px;
    width: 320px;
    gap: 18px; /* Espacio entre los elementos de la sección */
    margin-top: 6rem; /* Espacio por encima de la sección de personalización */
  }
  .kosmo-bot,
  .kosmo-outfit {
    height: 80px; /* Tamaño más pequeño para dispositivos móviles */
  }

  .kosmo-customization-section button {
    border: none;
    background: none;
    font-size: 2rem; /* Tamaño de los botones */
    cursor: pointer;
    color: #1B1464;
  }
  .customization-section h2 {
    font-size: 1.5rem; /* Tamaño más pequeño para el título en dispositivos móviles */
  }

  .customization-description {
    font-size: 0.9rem; /* Tamaño más pequeño para la descripción y la nota de servicio en dispositivos móviles */
    margin-top: 6rem; /* Espacio por encima de la sección de personalización */
  }
  .service-notice {
    font-size: 0.9rem; /* Tamaño más pequeño para la descripción y la nota de servicio en dispositivos móviles */
    margin-top: 1rem; /* Espacio por encima de la sección de personalización */

  }
}

